PORT=4005
DB_HOST=replace_with_db_host
DB_PORT=replace_with_db_port
DB_NAME=replace_with_db_name
DB_WRITE_USER=replace_with_db_write_user
DB_READ_USER=replace_with_db_read_user
DB_PASSWORD=replace_with_db_password
INTERNAL_SECRET=replace_with_crypto_random_bytes_64_hex
BCRYPT_SALT_ROUNDS=12
